<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright BRAINTRIBE TECHNOLOGY GMBH, Austria, 2002-2022

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<?eclipse version="3.4"?>
<plugin>   
   <extension
         point="org.eclipse.ui.preferencePages">
          <page          
          	category="com.braintribe.devrock.main"
            class="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            id="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            name="Greyface ">
     	 </page>
     	 <page
     	 	category="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            class="com.braintribe.devrock.greyface.settings.preferences.ScanSettingsPreferencesPage"
            id="com.braintribe.devrock.greyface.settings.preferences.ScanSettingsPreferencesPage"
            name="Scan ">
     	 </page>
     	 <page
     	 	category="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            class="com.braintribe.devrock.greyface.settings.preferences.UploadSettingsPreferencesPage"
            id="com.braintribe.devrock.greyface.settings.preferences.UploadSettingsPreferencesPage"
            name="Upload ">
     	 </page>
   </extension>
   

    <extension point="org.eclipse.ui.startup">
     	<startup class="com.braintribe.devrock.greyface.StartupHandler">
      	</startup>
   	</extension>

   
    <extension point="org.eclipse.ui.commands">
     	<category id="com.braintribe.devrock.greyface.plugins.commands.category" name="Greyface Commands"/>
     	<command categoryId="com.braintribe.devrock.greyface.plugins.commands.category" defaultHandler="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" id="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" name="Upload artifacts"/>     	
    </extension>
   
    <extension point="org.eclipse.ui.commandImages">
     	<image commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" icon="icons/repositories.gif"/>
     </extension>
     
     <extension point="org.eclipse.ui.menus">
	     <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
	        <toolbar id="com.braintribe.devrock.greyface.plugins.commands.toolbar1">
	           <command commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" id="com.braintribe.devrock.greyface.plugins.commands.tb.command1" style="push" tooltip="Upload artifacts to the home repositories"/>
	           <separator name="additions" visible="false"/>
	        </toolbar>
	     </menuContribution>
     </extension>

	 <!-- context menu -->
   <extension point="org.eclipse.ui.menus">				
		<menuContribution allPopups="true" locationURI="menu:com.braintribe.devrock.main?after=main.additions.misc">	        
	        <!-- greyface -->
	        <command commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" style="push" label="Open Greyface's view" tooltip="Upload artifacts to the home repositories"/>   				
		</menuContribution>
	</extension>
     
     	
  	<extension point="org.eclipse.ui.views">
	  	<category id="com.braintribe.devrock" name="Devrock's Views"/>
		<view 	id="com.braintribe.devrock.greyface.GreyfaceView"
				name="Greyface's View"
				category="com.braintribe.devrock"
				class="com.braintribe.devrock.greyface.view.GreyfaceView"
				icon="icons/repositories.gif">
		</view>
	</extension>
</plugin>
